<form novalidate>
  <div class="content-section introduction">
    <div>
      <span class="feature-title">MegaMenu</span>
      <span>MegaMenu displays submenus of root items together.</span>
    </div>
  </div>

    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Customized menubar-->

        <pe-step label="Customized menubar" >
          <div class="subcontent-section">
              <span>Custom content can be placed between p-megamenu tags.</span>
          </div>
          <p-megaMenu [model]="items">
            <input type="text" pInputText placeholder="Search">
            <button pButton label="Logout" icon="fa-sign-out"></button>
          </p-megaMenu>
        </pe-step>

    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>
