  <div class="content-section introduction">
    <div>
      <span class="feature-title">Growl</span>
      <span>Growl is used to display messages in an overlay.</span>
    </div>
  </div>

    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- onClick -->

        <pe-step label="onClick" [styleClass]="'colorpicker-height'">
          <div class="subcontent-section">
              <span>onClick	message: Clicked message	Callback to invoke when a message is clicked(params: message-clicked message).</span>
          </div>
          <button pButton type="button" (click)="count()" label="Click"></button>
          <p-growl [value]="msgs" (onClick)="onClick($event)"></p-growl>
        </pe-step>

        <!-- inline -->


    </pe-steps>



