<form novalidate>
  <div class="content-section introduction">
    <div>
      <span class="feature-title">Picklist</span>
      <span>PickList is used to reorder items between differents lists.</span>
    </div>
  </div>
  <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);">
    <!-- Filter -->
    <pe-step label="Filters">
      <div class="subcontent-section">
        <span>Options can be filtered using an input field in the overlay by enabling the filterBy property. filterBy property decides which field to search(Accepts multiple fields with a comma)..</span>
      </div>
      <p-pickList [source]="sourceCars" [target]="targetCars" sourceHeader="Available" targetHeader="Selected"
                  dragdrop="true"
                  [responsive]="true" filterBy="brand"
                  sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand">
        <ng-template let-car pTemplate="item">
          <div class="ui-helper-clearfix">
            <img src="assets/showcase/images/demo/car/{{car.brand}}.png"
                 style="display:inline-block;margin:2px 0 2px 2px"
                 width="48">
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}
            </div>
          </div>
        </ng-template>
      </p-pickList>
    </pe-step>

    <!-- Drag&Drop -->
    <pe-step label="Drag&Drop">
      <div class="subcontent-section">
        <span>Items can be reordered using drag and drop by enabling dragdrop property along with dragdropScope to avoid conflict with other drag drop events on view. It also supports cross list actions.</span>
      </div>
      <p-pickList [source]="sourceCars" [target]="targetCars" sourceHeader="Available" targetHeader="Selected"
                  [responsive]="true"
                  [dragdrop]="true" dragdropScope="name">
        <ng-template let-car pTemplate="item">
          <div class="ui-helper-clearfix">
            <img src="/assets/showcase/images/demo/car/{{car.brand}}.png"
                 style="display:inline-block;margin:2px 0 2px 2px"
                 width="48"/>
            <span
              style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</span>
          </div>
        </ng-template>
      </p-pickList>
    </pe-step>

  </pe-steps>
