  <div class="content-section introduction">
    <div>
      <span class="feature-title">AutoComplete</span>
      <span>AutoComplete is an input component that provides real-time suggestions when being typed.</span>
    </div>
  </div>

    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Events -->

        <pe-step label="Basic">
          <div class="subcontent-section">
              <span>onClear:Callback to invoke to when inpu field is cleared.(params: event: browser event).</span>
          </div>
          <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="30"
                          placeholder="Countries" [minLength]="1" (onClear)="onClear($event)"></p-autoComplete>
        </pe-step>


    </pe-steps>


<p-growl [value]="msgs"></p-growl>
