<form novalidate>
  <div class="content-section introduction">
    <div>
      <span class="feature-title">SplitButton</span>
      <span>SplitButton groups a set of commands in an overlay with a default command..</span>
    </div>
  </div>

    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->

        <pe-step label="Basic" [styleClass]="'colorpicker-height'">
          <div class="subcontent-section">
              <span>Different color options are available to define severity levels.

            .ui-button-secondary
            .ui-button-success
            .ui-button-info
            .ui-button-warning
            .ui-button-danger.</span>
          </div>
          <p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items" styleClass="ui-button-secondary"></p-splitButton>
          <p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items" styleClass="ui-button-success"></p-splitButton>
          <p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items" styleClass="ui-button-info"></p-splitButton>
          <p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items" styleClass="ui-button-warning"></p-splitButton>
          <p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items" styleClass="ui-button-danger"></p-splitButton>

        </pe-step>

        <!-- inline -->
        <pe-step label="inline" >
          <div class="subcontent-section">
            <span>The appendTo option of split button is used to provide customization over where the overlay would be appended.</span>
          </div>
          <button pButton type="button" icon="fa-check" iconPos="left" #click></button>
          <p-splitButton label="Save" icon="fa-check" [model]="items" appendTo="click"></p-splitButton>
        </pe-step>



    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>
